{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "sheets list" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "add tasks" %} </h3>
            {{ request.user.email }}
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">

              <form method="POST">
                {% csrf_token %}
                {% for form in form %}

                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                  {{ form.TaskDesc.label_tag}}
                  {{ form.TaskDesc }}
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                  {{form.TaskType.label_tag}}
                  {{ form.TaskType }}
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                 {{ form.Duration.label_tag}}
                  {{ form.Duration }}
                </div>
                {% endfor %}
                <button type="submit" name="_submit" class="btn btn-success">{{ _('Submit') }}</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
