{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "sheets list" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "add New Project" %} </h3>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">

<!-- #to stop html validation put novalidate in form tag -->
              <form action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
      <div class="col-md-12 col-sm-12 col-xs-12 form-group"> 
   {{  form.ProjectName  }} 
   </div>
    
       <div class="col-md-4 col-sm-12 col-xs-12 form-group"> 
   {{  form.StartDate  }}                         
   </div>
   
          <div class="col-md-4 col-sm-12 col-xs-12 form-group"> 
   {{  form.EndDate  }}                         
   </div>
   
             <div class="col-md-4 col-sm-12 col-xs-12 form-group"> 
   {{  form.Desc  }}                         
   </div>
   
   
   
   <!-- {{ form.as_table }} -->
   {{ form.non_field_errors }}
<div class="fieldWrapper">
<!-- {{ form.subject.errors }}
    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
    {{ form.subject }}
     
       
    {{ form.subject.errors }}
    {{ form.subject.label_tag }}
    {{ form.subject }}

      -->
 
</div>


    <input type="submit" value="Submit" />
    


</form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}