{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Project Details" %} {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}
  
  <style>
 /* .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    */
}
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
   
   <!-- top menu bar -->
{% include "project/project_nave.html" %}
   

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
            
          
              <h2>  <div class="task_number"  >{{task.id}}</div>  {{task.name}}  </h2>
                 <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-9 col-sm-9 col-xs-12">
     <section class="panel">
       <div class="panel-body">
 <!-- start task detail ------------------------------------- -->
 <div class="col-md-12 col-sm-12 col-xs-12">

<!--  decription -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Task Description')}}</legend>
        <div class="article-content">    <p>{{task.desc}} </p></div>
      </fieldset>
          
<!--  attachmenet -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Attachment')}}</legend>
        <div class="article-content">   
         <ul class="list-unstyled project_files">
                      <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                      </li>
                      <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                      </li>
                      <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                      </li>
                    </ul>
        </div>
      </fieldset>
                
<!-- history -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Recent Activity')}}</legend>
        <div class="article-content">    <p>{{task.desc}} </p></div>
      </fieldset>

</div>
           </div>
           </section>
             
              </div>
              <!-- start project-detail sidebar -->
              
              <div class="col-md-3 col-sm-3 col-xs-12">

                <section class="panel">

             
                  <div class="panel-body">
                  
                  
        <fieldset class="fieldset_normal">
        <legend>{{_("Basci Info")}}</legend>
        <div class="article-content">   

                    <ul class="list-unstyled project_files">
                      <li><span class="basic_info">{{_("project")}}</span> <span class="basic_info">{{project_detail.name}}</span></li>
                      <li><span class="basic_info">{{_("Assigned To")}}</span><span class="basic_info"> {{task.assignedto}}</span></li>
                    </ul>
                    
        </div>
      </fieldset>
                  
        <fieldset class="fieldset_normal">
        <legend>{{project_detail.name}}</legend>
        <div class="article-content">     <p class="title">{{ _('Created By')}} </p>
                      <p> {{ project_detail.createdby }} </p>
                      
                   
                      <p class="title">{{ _('Created Date') }} </p>
                   <p >{{project_detail.createddate}}</p></div>
      </fieldset>
                   
                 

                    <div class="text-center mtop20">
                      <a href="#" class="btn btn-sm btn-primary">Add files</a>
                      <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                    </div>
                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
