{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Project Details" %} {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}
  
  <style>
 /* .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    */
}
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
   
   <!-- top menu bar -->
{% include "project/project_nave.html" %}
   

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
            
          
              <h2>  <div class="task_number"  >{{task.id}}</div>  {{task.name}}  </h2>
                 <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-9 col-sm-9 col-xs-12">
     <section class="panel">
       <div class="panel-body">
 <!-- start task detail ------------------------------------- -->
 <div class="col-md-12 col-sm-12 col-xs-12">

<!--  decription -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Task Description')}}</legend>
        <div class="article-content">    <p>{{task.desc}} </p></div>
      </fieldset>
          
<!--  attachmenet -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Attachment')}}</legend>
        <div class="article-content">   
         <ul class="list-unstyled project_files">
                      <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                      </li>
                      <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                      </li>
                      <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                      </li>
                    </ul>
        </div>
      </fieldset>
                
<!-- history -->
<fieldset class="fieldset_normal">
        <legend>{{ _('Recent Activity')}}</legend>
        <div class="article-content">    <p>{{task.desc}} </p></div>
      </fieldset>

</div>
           </div>
           </section>
             
              </div>
              <!-- start project-detail sidebar -->
              
              <div class="col-md-3 col-sm-3 col-xs-12">

                <section class="panel">

             
                  <div class="panel-body">
                  
                  
        <fieldset class="fieldset_normal">
        <legend>{{_("Basci Info")}}</legend>
   
   <ul class="list-unstyled">
                      <li class="clearfix"><div class="basic_info_lable col-md-4 float-right">{{_("project")}}</div> <div class="basic_info  col-md-7">{{project_detail.name}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Assigned To")}}</div> <div class="basic_info col-md-7"> ثانى الحربى{{task.assignedto}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Status")}}</div><div class="basic_info col-md-7">جديد  {{task.Status}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Mailto To")}}</div> <div class="basic_info col-md-7"> sakr@stats.gov.sa{{task.mailto}}</div>
                      </li>
              
                    </ul>

      </fieldset>
                  
               <fieldset class="fieldset_normal">
        <legend>{{_("Actions")}}</legend>
   
   <ul class="list-unstyled">
                      <li class="clearfix"><div class="basic_info_lable col-md-4 float-right">{{_("Created By")}}</div> <div class="basic_info  col-md-7 float-right">{{project_detail.name}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Finished By")}}</div> <div class="basic_info col-md-7 float-right"> ثانى الحربى{{task.assignedto}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Cancelled By")}}</div><div class="basic_info col-md-7 float-right">جديد  {{task.Status}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Closed By")}}</div> <div class="basic_info col-md-7 float-right"> sakr@stats.gov.sa{{task.mailto}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Cancelled Reason")}}</div> <div class="basic_info  col-md-7 float-right"> sakr@stats.gov.sa{{task.mailto}}</div>
                      </li>
                      <li class="clearfix"><div class="basic_info_lable  col-md-4 float-right">{{_("Last Edited")}}</div> <div class="basic_info col-md-7 float-right"> sakr@stats.gov.sa{{task.mailto}}</div>
                      </li>
                    </ul>

      </fieldset>
                    <div class="text-center mtop20">
                      <a href="#" class="btn btn-sm btn-primary">Add files</a>
                      <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                    </div>
                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
