{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Project Details" %} {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}

  <style>
 /* .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    */
}
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

   <!-- top menu bar -->
{% include "project/project_nave.html" %}

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">

              <h2> {{project_detail.name}}  </h2>
              {% load user_group %}
            
                 {% if request.user|has_group:"ismanager"  and   project_detail.createdby == request.session.EmpID %}
                <a href="{% url 'ns-project:project-delete' project_detail.id %}" style="float:left" >  <button type="button" class="btn btn-danger btn-md"> <i class="fa fa-trash-o"></i>  {% trans "Delete" %}</button></a>
                 <a href="{% url 'ns-project:project-edit'  project_detail.id %}" style="float:left" >  <button type="button" class="btn btn-info btn-md"> <i class="fa fa-pencil"></i>  {% trans "Edit" %}</button></a>



                  {% endif %}
               <a href="{% url 'ns-project:project-list' %}"  style="float:left" >  <button type="button" class="btn btn-primary btn-md"> <i class="fa fa-th-list"></i>  {% trans "Projects List" %}</button></a>

                 <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-8 col-sm-8 col-xs-12">

                <ul class="stats-overview">
                  <li style="width:22%;">
                    <span class="name"> {% trans "Duration" %} </span>

                    <span class="value text-success" > {{ project_detail.start|timesince:project_detail.end  }} </span>
                  </li>
                  <li class="hidden-phone" style="width:25%;">
                    <span class="name"> {% trans "Remaining Time" %} </span>
                     {% now "Ymd" as current_date  %}
                    <span class="value text-success"> {{  project_detail.end|timeuntil }} </span>
                  </li>
                          <li class="hidden-phone" style="width:25%;">
                    <span class="name">{% trans "Number of tasks" %} </span>
                    <span class="value text-success"> {{ tasks_list|length}}</span>
                  </li>
                  <li class="hidden-phone" style="width:20%;">
                    <span class="name">{% trans "Completion Rate" %} </span>
                    <span class="value text-success">% {{ projectProgress}}</span>
                  </li>

                </ul>

                <br />
                <div id="echart_line" style="height:350px;"></div>
             <!-- <div id="mainb" style="height:350px;"></div> -->
                <div>

                  <h4>{{ _('Recent Activity') }} </h4>
  {% for h in history%}
       <li style="word-wrap: break-word;"><i class="fa fa-clock-o"></i>  <span class="float-right"> {{h.lasteditdate }}  </span> , <span class="float-right">{{h.history_change_reason|safe}} </span>     </li>
         {% endfor %}
                  <!-- end of user messages -->
                  <ul class="messages">
                  <!--  <li>
                      <img src="/static/images/user.png" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">مارس</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">عبدالله بن ناصر </h4>
                        <blockquote class="message">تغير حالة المهمة رقم 14 الى تم </blockquote>
                        <br />
                        <p class="url">
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                          <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                        </p>
                      </div>
                    </li>  -->





                  </ul>
                  <!-- end of user messages -->


                </div>


              </div>

              <!-- start project-detail sidebar -->
              <div class="col-md-4 col-sm-4 col-xs-12">

                <section class="panel">

                  <div class="x_title">
                    <h2> {{ _('Project Description')}} </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body">
                    <h3 class="green"><i class="fa fa-folder-open"></i> {{project_detail.name}} </h3>

                    <p>{{project_detail.desc}} </p>
                    <br />

                    <div class="project_detail">

                      <p class="title">{{ _('Created By')}} </p>
                      <p> {{ project_detail.employ }} </p>


                      <p class="title">{{ _('Created Date') }} </p>
                   <p >{{project_detail.createddate}}</p>
                   
                        <p class="title">{{ _('Start Date') }} </p>
                   <p >{{project_detail.start}}</p>
                   
                   
                        <p class="title">{{ _('End Date') }} </p>
                   <p >{{project_detail.end}}</p>
                   
                          <p class="title">{{ _('Status') }} </p>
                   <p >{{project_detail.status.name_ar}}</p>
                    </div>

                    <br />
                    <h5>{{_('Attachments')}}</h5>
                    <ul class="list-unstyled project_files">
                      <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                      </li>
                      <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                      </li>
                      <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                      </li>
                      <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                      </li>
                    </ul>
                    <br />




                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
