{% extends "project/base_site.html" %}
{% load i18n %}


{% block title %} {% trans "Projects" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css" />

  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Plain Page</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Plain Page</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <form method="Get" novalidate>
                {% csrf_token %}
           
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
             
              {{form.departement.label_tag}}
               {{form.departement}}
               </div>
               
                 <div class="form-group col-md-3 col-sm-12 col-xs-12">
            
              {{form.employee.label_tag}}
               {{form.employee}}
               </div>
             
               
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
         
              {{form.taskstatus.label_tag}}
               {{form.taskstatus}}
               </div>
              
               
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
             <button type="submit" class="btn btn-success">{{_('Submit')}}</button>
             </div>

               </div>
               
              
 <div class="form-group col-md-12">
              <div class="form-group text-danger ">
                {{ form.departement.errors }}
                {{ form.employee.errors }}
                {{ form.taskstatus.errors }}
              </div>
              </div>
               </form>
               
               
             
               
               
                <!-- start task  list -->
              <table class="table table-striped followup" id="followup-task-table">
                <thead>
                  <tr>
                    <th style="width: 1%">ID</th>
                    <th>{% trans "Task Name" %}</th>
                    <th>{% trans "Project Name" %}</th>
                    <th>{% trans "Assigned to" %}</th>
                    <th>{% trans "Status" %}</th>
                   
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                  <td></td>
                    <td><a href="{% url 'ns-project:project-task-detail' task.id %}" class=" btn-link">{{task.taskname }}</a> </td>
                    <td>{{task.projectname }}</td>
                    <td>{{task.empname }}</td>
                    <td id="status_{{task.id}}">
                      {% if task.status == 'Closed' %}
                      <span class="btn btn-dark btn-xs"> {{task.status }}</span>
                      {% endif %}
                       {% if task.status == 'Cancelled' %}
                      <span  class="btn btn-danger btn-xs"> {{task.status }}</span>
                      {% endif %}
                       {% if task.status == 'Hold' %}
                      <button type="button" class="btn btn-danger btn-xs"> {{task.status }}</button>
                      {% endif %}
                       {% if task.status == 'Done' %}
                      <button type="button" class="btn btn-success btn-xs"> {{task.status }}</button>
                      {% endif %}
                       {% if task.status == 'InProgress' %}
                      <span class="btn btn-warning btn-xs"> {{task.status }}</span>
                      {% endif %}
                          {% if task.status == 'New' %}
                     <span class="btn btn-info btn-xs"> {{task.status }}</span>

                      {% endif %}

                    </td>
                   
                   
                  </tr>
               
                  {% endfor %}
                </tbody>
              </table>
              
 
    
              <!-- end task list -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.js"></script>
  <script>
  $(document).ready(function(){
     $(".chosen").data("placeholder","Select Frameworks...").chosen();
     $(".chosen").chosen({no_results_text: "Oops, nothing found!"}); 
      $('.chosen').chosen({allow_single_deselect: true,no_results_text: "لا يوجد نتائج!"});
$('.followup').DataTable(
    {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Arabic.json"
        },
         "filter":   false,
         "dom": '<"top float-right"fl>rt<"bottom"pi><"clear">'
    } );
});

</script>
{% endblock javascripts %}

