{% extends "project/base_site.html" %}
{% load i18n %}


{% block title %} {% trans "Projects" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}



  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">

 
       
          <h3>{% trans "Task List" %}   </h3>


        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{_('Search for')}}...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">{% trans "Go"  %}!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
              <div class="x_title" style="background-color: ;" >
             
       
       <nav class="navbar "  style="background-color: ;">
  <div class="container-fluid">
       <ul class="nav nav-pills navbar-right" role="tablist">
                    <li role="presentation" class="active"><a href="#">{{ _('All Project Tasks')}} </a></li>
                    <li role="presentation"><a href="#" >{{ _('Open Tasks')}} </a></li>
                    <li role="presentation"><a href="#">{{ _('Assigned to Me')}} </a></li>
                    <li role="presentation"><a href="#">{{ _('Delayed')}} </a></li>
                    <li role="presentation" class="dropdown">
                      <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                  {{_('More')}}
                                  <span class="caret"></span>
                              </a>
                      <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{_('New')}}</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{_('Inprogress')}}</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{_('Finshed By Me') }} </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{_('Done')}} </a></li>
                       <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ _('Closed')}} </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ _('Canceled')}} </a></li>
                      </ul>
                    </li>
                   
                  

                 
                    
                  </ul>
                  
              <ul class="nav nav-pills navbar-left" role="tablist" style="margin-top:5px;">
            <!-- <a href="{% url 'ns-project:add-project' %}" class="float-left" style="float:left" >  <button type="button" class="btn btn-primary btn-md"> <i class="fa fa-th-list"></i>  {% trans "Ad Task" %}</button></a> -->
            <a href="{% url 'ns-project:project-list' %}" class="float-left" style="float:left"> <button type="button" class="btn btn-primary btn-md">  <i class="fa fa-plus"></i>  {{ _('Ad Task') }} </button></a>
       </ul>
                 
  
      </div>
</nav>



              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
             
              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th>{% trans "Task Name" %}</th>
                    <th>{% trans "Start Date" %}</th>
                    <th>{% trans "End Date" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "AssignedTo" %}</th>
                    <th>{% trans "Finshed By" %}</th>
                    <th>{% trans "Finshed Date" %}</th>
                    <th style="width: 20%">{% trans "Actions" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <td>{{task.id }} </td>
                    <td>{{task.name }}</td>
                    <td>{{task.startdate }}</td>
                    <td>{{task.enddate }}</td>
                    <td>{{task.status }}</td>
                    <td>{{task.assignedto }}</td>
                    <td>{{task.finishedby }}</td>
                    <td></td>
                    
                    <td>
                      <a href="{% url 'ns-project:project-detail' task.id %}"  ><i class="fa fa-hand-o-right fa-2x paction text-primary" title="{% trans "Assign" %} "></i></a>
                      <a href="#"  class="task-action" data-toggle="modal"  data-toggle="modal" data-target=".bs-example-modal-lg" data-id="{{task.id}}" data-name="{{task.name}}"><i class="fa fa-play fa-2x paction  text-primary" title="{% trans "Play" %}"></i> </a>
                      <a href="{% url 'ns-project:project-edit' task.id %}" ><i class="fa fa-check-square-o fa-2x paction  text-primary" title="{% trans "Finish" %}"></i> </a>
                      <a href="{% url 'ns-project:project-edit' task.id %}" ><i class="fa fa-power-off  fa-2x paction  text-primary" title="{% trans "Close" %}"></i> </a>
                      <a href="{% url 'ns-project:project-edit' task.id %}"  ><i class="fa fa-edit fa-2x paction  text-primary" title="{% trans "Edit" %}"></i>  </a>
                    </td>
                  </tr>
               
                  {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->
<!--  pager -->
<div>

{% if tasks.has_other_pages %}
  <ul class="pagination">
  
 
    {% if tasks.has_previous %}
      <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in tasks.paginator.page_range %}
      {% if tasks.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if tasks.has_next %}
      <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


 <ul class="pagination" >
 <li>
<span class="current">
            {{ _('Page') }} {{ tasks.number }} of {{ tasks.paginator.num_pages }}
        </span>
        </li>
        </ul>
        
        
</div>
<!-- end pager -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <!-- Large modal -->
  
     <div id="exampleModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">

<form method="POST" action="" class="js-task-form">
  {% csrf_token %}
  
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                         
                          <div class="row"> <div class="col-md-4 xdisplay_inputx form-group has-feedback">
                          <label class="control-label ">Actual Start Date</label>
                                <input type="text" class="form-control has-feedback-left" id="single_cal1" name ="realstartdate" placeholder="Actual Start" aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                              </div> 
                            </div> 
                             
                              
               
                           <div class="row">
                          <div class="col-md-12 col-sm-12  col-xs-12 form-group">
                           <label class="control-label ">Notes</label>
                          <textarea id="Notes" required="required" class="form-control" name="notes" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Notes.." data-parsley-validation-threshold="10" placeholder="{{_('Notes')}}"></textarea>
                          </div>
                          </div> 
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
</form>
                      </div>
                    </div>
                    
                    
                  </div>
          
          
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  
  
  
  <script>
  $(function () {

	  $('#exampleModal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var id = button.data('id') // Extract info from data-* attributes
		  var title = button.data('name') 
		  var modal = $(this)
		  modal.find('.modal-title').text( id + " "+ title  + "  >" +"{{_('Start Task')}}")
		  /*modal.find('.modal-body input').val(recipient) */
		  
		  
		  $("#exampleModal").on("submit", ".js-task-form", function () {
			    var form = $(this);
			    $.ajax({
			      url: form.attr("action")+"/project/task_start/"+id,
			      data: form.serialize(),
			      type: form.attr("method"),
			      dataType: 'json',
			      success: function (data) {
			        if (data.form_is_valid) {
			          alert("Book created!");  // <-- This is just a placeholder for now for testing
			        }
			        else {
			          $("#modal-book .modal-content").html(data.html_form);
			        }
			      }
			    });
			    return false;
			  });
		  

	  });
	  
  });
  
  
  </script>
{% endblock javascripts %}
